<nav id="navbar" class="navbar orange bg-image" role="navigation">
  <div class="navbar-header">
    <a class="logo" href="index.html">
      <!--<img class="img-responsive" src="img/tsavo-logo.svg" onerror="this.onerror=null; this.src='img/tsavo-logo.png'" alt="Tsavo Logo" />-->
      <img class="img-responsive" src="./img/tsavo-logo.png" alt="Tsavo Logo" />
    </a>

    <div class="menu-toggle">
      <button id="menu-toggle" class="toggle-btn collapsed" aria-controls="collapseNav" aria-expanded="false" href="#collapseNav" data-toggle="collapse" role="button">
        <div class="bars">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="toggle-title">
          Menu
        </div>
      </button>
    </div>

  </div>
  <div id="collapseNav" class="navbar-collapse collapse">
    <ul class="right">
      <li>
        <a id="index" href="./">Home</a>
      </li>
      <li>
        <a id="ons-verhaal" href="./ons-verhaal.html">Ons Verhaal</a>
      </li>
      <li>
        <a id="vastgoedbeheer" href="./vastgoedbeheer.html">Vastgoedbeheer</a>
      </li>
      <li>
        <a id="interim-advies" href="./interim-advies.html">Interim &#38; Advies</a>
      </li>
      <li>
        <a id="klanten" href="./klanten.html">klanten</a>
      </li>
      <li>
        <a id="mensen" href="./mensen.html">Mensen</a>
      </li>
      <li>
        <a id="vacatures" href="./vacatures.html">Vacatures</a>
      </li>
      <li>
        <a id="contact" href="./contact.html">Contact</a>
      </li>
    </ul>
    <ul class="contact-menu red bg-image">
      <li><a class="" href="https://www.linkedin.com/company/10575113" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
      <li><a href="mailto:info@tsavo.eu"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
      <li><a href="tel:+31600000000"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
      <li><a href="https://www.google.nl/maps/place/3991+SZ+Houten/@52.0192931,5.175071,17z/data=!3m1!4b1!4m5!3m4!1s0x47c6671d8ab7cfb3:0x79d5ccdb64198291!8m2!3d52.0196614!4d5.1771707" target="_blank"><i class="fa fa-map-marker" aria-hidden="true"></i></a></li>
    </ul>
  </div>

  <div id="navbar-border" class="navbar-border red bg-image">

  </div>
</nav>
