$color-clients-bg: $white;

.clients {
	background-color: $color-clients-bg;
}
.client__logo {
	display: block;
	max-width: 124px;
	margin: 4px;

	@media (min-width:421px) {
		margin: 10px;
	}
	@media (min-width:521px) {
		margin: 20px;
	}
	@media (min-width:$screen-sm-min){
		margin: 0px;
	}
	@media (min-width:801px){
		margin: 10px;
	}

}
